/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 11, 2014, 3:56:47 PM
    Author     : schifano
*/
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    margin: 0;
    padding: 0;
    display: block;
}

h1, h2, h3, h4 {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.0em;
    color: #000;
}

h2 {
    font-weight: 300;
    font-size: 2.5em;
}

#outer-wrapper {
    height: 280px;
    background: transparent;
    top: 50%;
    left: 50%;
    border: none;
    text-align: center;
    position: fixed;
    margin-top: -180px;
    margin-left: -227.5px;
    padding: 0;
    width: 455px;
}
#signin {
    width:455px;
    height: 280px;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 6px 6px rgba(0,0,0,0.3);
    padding: 20px;
}
#title {
    position: absolute;
}

#mainfooter {
    height: 20px;
    background-color: #333;
    color: #fff;
}

#home {
    background: url('../images/iwu.png') no-repeat bottom center fixed transparent;
}

#dashboard {
    background-color: #e6e6e6;
}

/****** NAVIGATION ******/
#nav {
    clear: both;
    height: 60px;
    background-color: #333;
    margin: 0;
    padding: 0;
} 

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav ul li {
    padding: 20px;
    float: left;
    display: block;
    color: #fff;
}

#nav ul li a:link {
    color: #fff;
    font-size: 1.0em;
}

#main-nav {
    height: 45px;
    background-color: #696969;
    width: 100%;
    position: relative;
    top: 0;
    margin: 0;
}


/****** PROFILE *****/
#profile {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#profile-recruiter {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#profile-mixtape {
    background-color: orange;
    border-left: 20px solid #e6e6e6;
}

#profile-body {
    background-color: purple;
    width: 100%;
    height: 500px;
    display: table-cell;
    border-top: 20px solid #e6e6e6;
}

#profile-picture {
    width: 200px;
    height: 200px;
}

#join-recruiter {
    padding: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#join-recruiter-bkgrd {
    background-color: #e6e6e6;
    width: 38%;    
    margin-left: auto;
    margin-right: auto;
    
}
#join-student {
    background-color: #fff;
    padding: 50px;
}
#join-student-bkgrd {
    background-color: #e6e6e6;
    width: 38%;    
    margin-left: auto;
    margin-right: auto;
}
#joinStudentForm inputText {
    width: 600px;
}




/****** COLUMNS *****/
.col40 {
    width: 40%;
    display: table-cell;
}

.col60 {
    width: 60%;
    display: table-cell;
}



.dash-pic {
    width: 200px;
    height: 200px;
    float: left;
}




.site-footer {
    position: fixed;
    bottom: 0;
    min-width: 974px;
    width: 100%;
    background: #202020;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 0px;
    text-align: center;
    color: #fff;
}

.site-footer a {
    color: #287bbc;
}

.main-field {
    width: 350px;
    height: 25px;
    margin: 8px;
    font-size: 1.2em;
}
.join-field {
    width: 300px;
    height: 15px;
    font-size: 1.0em;
    margin: 8px;
}

.field-text {
    width: 100px;
    float: left;
    margin: 8px;
    vertical-align: bottom;
}
.field-drop {
    border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
    width: 305px;
    height: 25px;
    padding: 5px;
    font-size: 0.9em;
    margin-left: 8px;
    margin-top: 5px;
}
.main-login-button {
    width: 350px;
    height: 30px;
    border: 1px solid #1b5480;
    border-radius: 3px;
    background-color: #287bbc;
    font-size: 1.2em;
    color: #fff;
    margin: 10px;
}


.col66 {
	width: 66%;
        height: 200px;
	display: table-cell;
        background-color: #fff;
	color: #333;
	border: 10px solid #e6e6e6;
}
.col33 {
	width: 33%;
	display: table-cell;
        background-color: #fff;
	color: #333;
	padding: 20px;
	border: 10px solid #e6e6e6;
}

.profile66 {
	width: 66%;
        background-color: #fff;
	color: #333;
        float: left;
}
.profile33 {
	width: 33%;
        background-color: #fff;
	color: #333;
        float: left;
}

.col99 {
    width: 99%;
    display: table-cell;
    background-color: #fff;
    color: #333;
    border-top: 10px solid #e6e6e6;
}

.row {
	width: 100%;
	display: table;
	clear: both;
}

.join-button {
    width: 420px;
    height: 30px;
    border: 1px solid #1b5480;
    border-radius: 3px;
    background-color: #287bbc;
    font-size: 1.2em;
    color: #fff;
    margin: 10px;
}

.profile-section {
    border-bottom: 20px solid #e6e6e6;
    padding: 20px;
}

.edit-button {
    width: 100px;
    height: 22px;
    border: 1px solid #1b5480;
    border-radius: 0px;
    background-color: #287bbc;
    font-size: 0.8em;
    color: #fff;
    margin-top: 10px;  
}


.results {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#univTable {
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#resultTable {
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.highlight {
    background-color: #f0f0f0;
}

.border {
    border-bottom: 1px solid #000;
}